includes:
	- extensions.neon
	- services.neon
	- PublicModule.neon
	- TextModule.neon

parameters:
	sentry:
		dsn: ''
		settings:
			trace: true

	mailer:
		from: 'change@me.com'
		fromName: 'Change Me'
		sender: 'change@me.com'
		domain: changeme.com
		host: changeme.com
#		port: 587
		username: change@me.com
		password: changeme
		secure: ssl
		DKIM_domain:
		DKIM_private: '%appDir%/../../DKIM/private'
		DKIM_selector:

	https: true
	attachmentsDir: '%appDir%/../../www/attachments'

	googleTagManager:

	PrivateModule:
		AddButtons: []
		PagePartsButtons: []
	renderableComponents: []

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenter\*Presenter

session:
	expiration: 14 days
	autoStart: smart

gedmo:
	tree: on
	sortable: on

doctrine:
	host: ''
	user: ''
	password: ''
	dbname: ''
	metadata:
		App: %appDir%

monolog:
	handlers:
		raven: Monolog\Handler\RavenHandler(Raven_Client(%sentry.dsn%, %sentry.settings%))
	name: MyWeb
	registerFallback: true
	processors:
		- Monolog\Processor\MemoryPeakUsageProcessor
		- Kdyby\Monolog\Processor\PriorityProcessor

webloader:
	css:
		public:
			remoteFiles:
				- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css
			files:
				- main.css
		private:
			remoteFiles:
				- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css
			files:
				- %wwwDir%/css/font-awesome.min.css
				- %wwwDir%/PrivateModule/css/animate.min.css
				- %wwwDir%/PrivateModule/css/custom.css
				- %wwwDir%/PrivateModule/css/switchery/switchery.min.css
				- %wwwDir%/PrivateModule/css/icheck/flat/green.css
				- %wwwDir%/PrivateModule/css/kendo/kendo.common-bootstrap.css
				- %wwwDir%/PrivateModule/css/kendo/kendo.common-bootstrap.core.css
				- %wwwDir%/PrivateModule/css/kendo/kendo.bootstrap.css
				- %wwwDir%/PrivateModule/css/ublaboo/datagrid.css
				- %wwwDir%/PrivateModule/css/ublaboo/datagrid-spinners.css
				- %wwwDir%/PrivateModule/css/admin.css
	js:
		private:
			remoteFiles:

			files:
				- %wwwDir%/PrivateModule/js/admin.js

		public:
			remoteFiles:

			files:
				- %wwwDir%/PrivateModule/js/ublaboo/datagrid.js
				- %wwwDir%/PrivateModule/js/ublaboo/datagrid-spinners.js
