.x_panel .datagrid {
  background: transparent;
  padding: 0;
  margin: 10px 0px;
}
body.nav-md .container.body .right_col {
  padding-top: 70px;
}
.modal-dialog a.btn {
  margin-bottom: 0;
}
.title_right .btn {
  margin-bottom: 0;
}
