<h1>Odkaz na nastavení nového hesla</h1>

<p>
    Platnost odkazu pro změnu hesla je do {$hashExpirationDate|date:'j.n.Y H:i'}
    <a n:href="//:Private:Users:LostPassword:setNewPassword, $hashId, $hashSecred">změnit heslo</a>
</p>

